; {{ ansible_managed }}
;  ----------------------------------------------------------
;  NODE INFORMATION
;  ----------------------------------------------------------

node.name = "{{ inventory_hostname }}"
node.location = "Rack 7, West Coast, DC"


