; {{ ansible_managed }}
;  ----------------------------------------------------------
;  APP SPECIFIC CONFIGURATIONS
;  ----------------------------------------------------------

include = node.ini; amqp.ini; database.ini; prism.ini; logging.ini;

