# {{ ansible_managed }}

*** Alerts ***
to = {{ prd_email_systems }}
from = monitor-smokeping@{{ ppm_com_domain_name }}

+someloss
type = loss
# in percent
pattern = >0%,*12*,>0%,*12*,>0%
comment = loss 3 times  in a row

