<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName local.prepaidmeters.com

    #DocumentRoot /var/www/prepaidmeterscom/trunk/frontend/views/layouts/
    DocumentRoot /var/www/prepaidmeterscom/trunk/
    DirectoryIndex index.php

    <Directory />
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Order allow,deny
        allow from all
    </Directory>

    ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
    <Directory "/usr/lib/cgi-bin">
            AllowOverride None
            Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
            Order allow,deny
            Allow from all
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

    # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
    LogLevel notice

    CustomLog ${APACHE_LOG_DIR}/access.log combined

    Alias /doc/ "/usr/share/doc/"
    <Directory "/usr/share/doc/">
        Options Indexes MultiViews FollowSymLinks
        AllowOverride None
        Order deny,allow
        Deny from all
        Allow from 127.0.0.0/255.0.0.0 ::1/128
    </Directory>

    <Files ~ "^\.ht">
        Order allow,deny
        Deny from all   
    </Files>

    <Files ~ "\.inc">
        Order allow,deny
        Deny from all   
    </Files>

    <Files ~ "\.sql">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "\.sh">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "\.pl">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "\.php">
        Order allow,deny
        Deny from all
    </Files>
    <Files ~ "~">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "werks">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "git">
        Order allow,deny
        Deny from all   
    </Files>
    <Files *.ini>
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "zzz">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "bak">
        Order allow,deny
        Deny from all   
    </Files>
</VirtualHost>
