# {{ ansible_managed }}
# /etc/squid-deb-proxy/mirror-dstdomain.acl.d/10-default
#
# network destinations that are allowed by this cache

# launchpad personal package archives (disabled by default)
#ppa.launchpad.net
#private-ppa.launchpad.net

# add additional mirror domains here (disabled by default)
#packages.medibuntu.org
#dl.google.com
#apt.puppetlabs.com
#linux.dell.com
#download.oracle.com
#repo.percona.com
#www.ubnt.com

