add_header X-Frame-Options SAMEORIGIN;
add_header X-Cache $upstream_cache_status;

# SECURITY -------------------------------- |

## deny access to all things starting with a .
## eg. .git, .htaccess, etc
location ~ /\. {
    deny all;
    access_log off;
    log_not_found off;
}

# deny access to anyfiles ending with ...
location ~* \.(rb|yml|yaml|conf|ini|sh)$ { deny all; }

#stop logging
## /robots.txt
location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
}

# Expires! -------------------------------- |

# cache.appcache, your document html and data
location ~* \.(?:manifest|appcache|html|xml|json)$ {
    expires -1;
    access_log /var/log/nginx/static.log;
}

# Feeds
location ~* \.(?:rss|atom)$ {
    expires 1h;
    add_header Cache-Control "public";
}

# Favicon
location ~* \.ico$ {
    expires 1w;
    access_log off;
    add_header Cache-Control "public";
}

# Media: images, video, audio, HTC, WebFonts
location ~* \.(?:jpg|jpeg|gif|png|ico|gz|svg|svgz|ttf|otf|woff|eot|mp4|ogg|ogv|webm)$ {
    expires 1M;
    access_log off;
    add_header Cache-Control "public";
}

# CSS and Javascript
location ~* \.(?:css|js)$ {
    expires 1y;
    access_log off;
    add_header Cache-Control "public";
}
