#{{ ansible_managed }}

server {
    listen 80;

    server_name {{ default_domain }} default_server;

    root {{ doc_root }};
    index default.htm index.htm index.html;

    server_tokens off;

    location / {
        try_files $uri $uri/;
    }

    error_page 404 /404.html;

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root {{ doc_root }};
    }

}
