# {{ ansible_managed }}
#
# /etc/exports: the access control list for filesystems which may be exported
#		to NFS clients.  See exports(5).
#
# Example for NFSv2 and NFSv3:
# /srv/homes       hostname1(rw,sync,no_subtree_check) hostname2(ro,sync,no_subtree_check)
#
# Example for NFSv4:
# /srv/nfs4        gss/krb5i(rw,sync,fsid=0,crossmnt,no_subtree_check)
# /srv/nfs4/homes  gss/krb5i(rw,sync,no_subtree_check)
#

{{ exports[0].export }} {{ exports[0].allowed }}{{ exports[0].options }}
{% if inventory_hostname in groups.wks_dev %}
{{ exports[1].export }} {{ exports[1].allowed }}{{ exports[1].options }}
{% endif %}
