[icingaweb_db]
type = "db"
db = "mysql"
host = "localhost"
port = "3306"
dbname = "icinga2webdb"
username = "icinga2web"
password = "4iStrVAOzWxB"
charset = ""
persistent = "1"

[icinga_ido]
type = "db"
db = "mysql"
host = "localhost"
port = "3306"
dbname = "icinga2"
username = "icinga2"
password = "4iStrVAOzWxB"
charset = ""
persistent = "1"
