; {{ ansible_managed }}
;
; BIND data file for local loopback interface
;

$ORIGIN .

$TTL	604800
{% if ansible_default_ipv4.network == '192.168.1.0' %}
{{ppm_local_domain_name}}	IN	SOA	ns1.{{ppm_local_domain_name}}. systems.{{ppm_local_domain_name}}. (
			23	; Serial
			28800   ; Refresh 8 hours
			3600    ; Retry 1 hour
			604800  ; Expire 1 week
			38400   ; Negative Cache TTL 10 hours 40 minutes
                        )
		NS	ns1.{{ppm_local_domain_name}}.
		NS	ns2.{{ppm_local_domain_name}}.

$ORIGIN {{ppm_local_domain_name}}.

ns1                             A       {{ ansible_ssh_host }}
{{ inventory_hostname_short }}  A       {{ ansible_ssh_host }}
ns2                             A       192.168.3.20
ppm-dbn-infra-0                 A       192.168.3.20
{% endif%}

{% if ansible_default_ipv4.network == '192.168.3.0' %}
{{ppm_local_domain_name}}	IN	SOA	ns2.{{ppm_local_domain_name}}. systems.{{ppm_local_domain_name}}. (
			22	; Serial
			28800   ; Refresh 8 hours
			3600    ; Retry 1 hour
			604800  ; Expire 1 week
			38400   ; Negative Cache TTL 10 hours 40 minutes
                        )
		NS	ns1.{{ppm_local_domain_name}}.
		NS	ns2.{{ppm_local_domain_name}}.

$ORIGIN {{ppm_local_domain_name}}.

ns2                             A       {{ ansible_ssh_host }}
{{ inventory_hostname_short }}  A       {{ ansible_ssh_host }}
ns1                             A       192.168.1.29
ppm-jhb-infra-15  A       192.168.1.29
{% endif%}
