// # {{ ansible_managed }}
acl "trusted" {
    192.168.1.29; #ns1.prepaidmeters.local
    192.168.3.20; #ns2.prepaidmeters.local
    192.168.0.0/24;
    192.168.239.0/24;
    192.168.1.0/24;
    192.168.3.0/24;
};

options {
    directory "/var/cache/bind";

    forwarders {
            {{ google_dns_1 }};
            {{ google_dns_2 }};
    };

    allow-query { 
      trusted; 
    };
    
    allow-recursion {
      trusted;
    };

    allow-transfer {
      trusted;
    };

    dnssec-enable no;
    
    auth-nxdomain no;    # conform to RFC1035
    
    listen-on-v6 { any; };
};

